extends ./layout.jade

block title
  title Profil User
block content
  div.container
    div.row
      div.col-xs-6.col-md-1
      div.col-xs-6.col-md-10

        h1 Profil
        h5 Nama : #{nama}
        h5 Email : #{email}
        h5 Username : #{username}
        
      div.col-xs-6.col-md-4